@model IEnumerable<AppData.Model.NhanVien>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdNhanVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenNhanVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnhNhanVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatKhau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthProvider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayCapNhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiCapNhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KichHoat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdchucVu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <!-- Hiển thị ảnh nhân viên -->
                @if (!string.IsNullOrEmpty(item.AnhNhanVien))
                {
                    <img src="~/Admin/imgNV/@item.AnhNhanVien" alt="Ảnh Nhân Viên" style="width:100px;height:auto;" />
                }
                else
                {
                    <span>Chưa có ảnh</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthProvider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCapNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiCapNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KichHoat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdchucVu)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdNhanVien }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdNhanVien }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdNhanVien })
            </td>
        </tr>
    }
    </tbody>
</table>
