@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<AppData.ViewModel.HoaDonViewModell>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .table {
        border-collapse: collapse;
        width: 100%;
    }

        .table th, .table td {
            padding: 10px;
            text-align: left;
            border: 1px solid #dee2e6;
        }

        .table th {
            background-color: #007bff;
            color: white;
        }
</style>

<div class="content-wrapper">
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success" style="padding: 10px; margin-right:20px; margin-top:20px; position: absolute;">
            @TempData["Success"]
        </div>
    }
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger" style="padding: 10px; margin-right:20px; margin-top:20px; position: absolute;">
            @TempData["Error"]
        </div>
    }

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">
            <span class="text-muted fw-light">Quản lý hóa đơn /</span> Hóa đơn
        </h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4" style="padding: 20px">
                    <form method="get" action="@Url.Action("Index", "HoaDon")">
                        <div class="nav-item d-flex align-items-center justify-content-between">
                            <input type="text" name="search" value="@ViewBag.CurrentSearch" placeholder="Tìm kiếm theo mã đơn hoặc tên khách hàng..." style="margin-bottom: 10px; padding: 5px; width: 33%;" />
                            <button type="submit" class="btn btn-primary ms-2">Tìm kiếm</button>
                        </div>
                    </form>
                    <br>

                    <div class="mb-3">
                        @if (ViewBag.Statuses != null)
                        {
                            <a href="@Url.Action("Index", new { status = "", page = Model.PageNumber, search = ViewBag.CurrentSearch })" class="btn btn-secondary ms-1">Tất Cả</a>
                            <a href="@Url.Action("Index", new { status = "Đã Hủy", page = Model.PageNumber, search = ViewBag.CurrentSearch })" class="btn btn-secondary ms-1">Đã Hủy</a>
                            <a href="@Url.Action("Index", new { status = "Chờ Xác Nhận", page = Model.PageNumber, search = ViewBag.CurrentSearch })" class="btn btn-secondary ms-1">Chờ Xác Nhận</a>
                            <a href="@Url.Action("Index", new { status = "Chờ Giao Hàng", page = Model.PageNumber, search = ViewBag.CurrentSearch })" class="btn btn-secondary ms-1">Chờ Giao Hàng</a>
                            <a href="@Url.Action("Index", new { status = "Đang Vận Chuyển", page = Model.PageNumber, search = ViewBag.CurrentSearch })" class="btn btn-secondary ms-1">Đang Vận Chuyển</a>
                            <a href="@Url.Action("Index", new { status = "Đã Thanh Toán", page = Model.PageNumber, search = ViewBag.CurrentSearch })" class="btn btn-secondary ms-1">Đã Thanh Toán</a>
                            <a href="@Url.Action("Index", new { status = "Đã Giao Hàng", page = Model.PageNumber, search = ViewBag.CurrentSearch })" class="btn btn-secondary ms-1">Đã Giao Hàng</a>
                            <a href="@Url.Action("Index", new { status = "Hoàn Thành", page = Model.PageNumber, search = ViewBag.CurrentSearch })" class="btn btn-secondary ms-1">Hoàn Thành</a>
                        }
                    </div>

                    <div class="panel-body">
                        <table class="table" id="invoiceTable">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã</th>
                                    <th>Tổng SP</th>
                                    <th>Tổng Tiền</th>
                                    <th>Tên Khách Hàng</th>
                                    <th>Ngày Tạo</th>
                                    <th>Loại Hóa Đơn</th>
                                    <th>Trạng Thái</th>
                                    <th>Hành Động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    int stt = (Model.PageNumber - 1) * Model.PageSize + 1;
                                    foreach (var item in Model)
                                    {
                                        <tr style="border-bottom: 1px solid #dee2e6;" class="invoice-row">
                                            <td>@stt</td>
                                            <td>@item.HoaDon.MaDon</td>
                                            <td>@item.TotalQuantity</td>
                                            <td>@item.HoaDon.TongTienHoaDon.ToString("N0")</td>
                                            <td>@item.HoaDon.NguoiNhan</td>
                                            <td>@item.HoaDon.NgayTao.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                            <td>@item.HoaDon.LoaiHoaDon</td>
                                            <td>@item.HoaDon.TrangThai</td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.HoaDon.IdHoaDon" title="Edit">
                                                    <i class="fa-solid fa-pen"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        stt++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="9" class="text-center">Không có dữ liệu để hiển thị.</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="pagination">
                        @Html.PagedListPager(Model, page => Url.Action("Index", "HoaDon", new { Page = page, status = ViewBag.CurrentStatus, search = ViewBag.CurrentSearch }),
                                 new PagedListRenderOptions
                        {
                            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                            DisplayLinkToLastPage = PagedListDisplayMode.Always,
                            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                            DisplayLinkToNextPage = PagedListDisplayMode.Always,
                            MaximumPageNumbersToDisplay = 5,
                            LiElementClasses = new[] { "page-item" },
                            PageClasses = new[] { "page-link" }
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>