@model AppData.Model.KhachHang
@{
    ViewData["Title"] = "Đổi Mật Khẩu";
    var email = TempData["Email"] as string;
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="padding: 15px; margin-right: 20px; margin-top: 20px; position: fixed; top: 20px; right: 20px; z-index: 1050; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); background-color: #d4edda; border-color: #c3e6cb;">
        <strong style="font-size:15px;">@TempData["SuccessMessage"]</strong> <!-- Đặt văn bản thành phần mạnh -->
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="padding: 15px; margin-right: 20px; margin-top: 20px; position: fixed; top: 20px; right: 20px; z-index: 1050; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); background-color: #d4edda; border-color: #c3e6cb;">
        <strong style="font-size:15px; color:red;">@TempData["Error"]</strong> <!-- Đặt văn bản thành phần mạnh -->
    </div>
}
<h2>Đổi Mật Khẩu</h2>
@using (Html.BeginForm("ResetPassword", "KhachHang", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="hidden" name="email" value="@email" />
    <input type="email" value="@email" readonly />
    <div class="form-group">
        <label class="control-label">"mật khẩu mới""</label>
        @Html.Password("newPassword")
        @Html.ValidationMessage("newPassword", "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label class="control-label">"Xác nhận mật khẩu"</label>
        @Html.Password("confirmPassword")
        @Html.ValidationMessage("confirmPassword", "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Đổi Mật Khẩu</button>
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger mt-3">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
}