@model AppData.Model.KhachHang
@{
    ViewData["Title"] = "Đổi Mật Khẩu";
    var email = TempData["Email"] as string;
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="padding: 15px; margin-right: 20px; margin-top: 20px; position: fixed; top: 20px; right: 20px; z-index: 1050; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); background-color: #d4edda; border-color: #c3e6cb;">
        <strong style="font-size:15px;">@TempData["SuccessMessage"]</strong> <!-- Đặt văn bản thành phần mạnh -->
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="padding: 15px; margin-right: 20px; margin-top: 20px; position: fixed; top: 20px; right: 20px; z-index: 1050; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); background-color: #f8d7da; border-color: #f5c6cb;">
        <strong style="font-size:15px;">@TempData["Error"]</strong> <!-- Đặt văn bản thành phần mạnh -->
    </div>
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-5">
            <div class="card shadow-lg">
                <div class="card-header text-center bg-primary text-white">
                    <h3>Đổi Mật Khẩu</h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("ResetPassword", "KhachHang", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <input type="hidden" name="email" value="@email" />
                        <input type="email" value="@email" readonly class="form-control mb-3" />

                        <div class="form-group mb-3">
                            <label class="control-label">Mật khẩu mới</label>
                            @Html.Password("newPassword")
                            @Html.ValidationMessage("newPassword", "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group ">
                            <label class="control-label">Xác nhận mật khẩu</label>
                            @Html.Password("confirmPassword")
                            @Html.ValidationMessage("confirmPassword", "", new { @class = "text-danger" })
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Đổi Mật Khẩu</button>
                    }
                </div>
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="card-footer text-danger text-center">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>
