@model AppData.Model.KhachHang

@{
    ViewData["Title"] = "Thông Tin Khách Hàng";
}

<h1>Thông Tin Khách Hàng</h1>

<div>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    <h4>Khách Hàng</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Họ Tên</dt>
        <dd class="col-sm-10">@Model.HoTen</dd>

        <dt class="col-sm-2">Số Điện Thoại</dt>
        <dd class="col-sm-10">@Model.SoDienThoai</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>       
    </dl>
</div>
<button type="button" onclick="location.href='@Url.Action("ChangePassword", "KhachHang", new { id = Model.IdKhachHang })'" class="btn btn-primary">
    Đổi Mật Khẩu
</button>

<button type="button" onclick="location.href='@Url.Action("Edit", "KhachHang", new { id = Model.IdKhachHang })'" class="btn btn-secondary">
    Chỉnh Sửa
</button>

<button type="button" onclick="location.href='@Url.Action("DiaChi", "DiaChi")'" class="btn btn-info">
    Địa Chỉ
</button>