@model IEnumerable<AppData.Model.DiaChi>

@{
    ViewData["Title"] = "GetAll";
}

<h1>GetAll</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.IdDiaChi)</th>
            <th>@Html.DisplayNameFor(model => model.HoTen)</th>
            <th>@Html.DisplayNameFor(model => model.SoDienThoai)</th>
            <th>@Html.DisplayNameFor(model => model.MoTa)</th>
            <th>@Html.DisplayNameFor(model => model.ProvinceName)</th>
            <th>@Html.DisplayNameFor(model => model.DistrictName)</th>
            <th>@Html.DisplayNameFor(model => model.WardName)</th>
            <th>@Html.DisplayNameFor(model => model.DiaChiMacDinh)</th>
            <th>@Html.DisplayNameFor(model => model.IdKhachHang)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null || !Model.Any())
        {
            <tr>
                <td colspan="9">No data available.</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.IdDiaChi)</td>
                    <td>@Html.DisplayFor(modelItem => item.HoTen)</td>
                    <td>@Html.DisplayFor(modelItem => item.SoDienThoai)</td>
                    <td>@Html.DisplayFor(modelItem => item.MoTa)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProvinceName)</td>
                    <td>@Html.DisplayFor(modelItem => item.DistrictName)</td>
                    <td>@Html.DisplayFor(modelItem => item.WardName)</td>
                    <td>@Html.DisplayFor(modelItem => item.DiaChiMacDinh)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdKhachHang)</td>
                    <td>
                        @Html.ActionLink("EditDC", "EditDC", new { IdDiaChi = item.IdDiaChi }) |
                        @Html.ActionLink("Delete", "Delete", new { IdDiaChi = item.IdDiaChi })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
