@model IEnumerable<AppData.Model.HinhAnh>
@using Microsoft.AspNetCore.Mvc.ViewFeatures

@{
    ViewData["Title"] = "Image List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Image List</h1>

<p>
    <a asp-action="Upload" class="btn btn-primary">Upload New Image</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdHinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSanPhamChiTiet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiFileHinhAnh)
            </th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdHinhAnh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdSanPhamChiTiet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiFileHinhAnh)
                </td>
                <td>
                    <img src="data:@item.LoaiFileHinhAnh;base64,@Convert.ToBase64String(item.DataHinhAnh)" alt="Image" style="max-width: 100px; max-height: 100px;" />
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.IdHinhAnh" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>