@model IEnumerable<AppData.Model.ThuongHieu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdThuongHieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenThuongHieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayCapNhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiCapNhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KichHoat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdThuongHieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenThuongHieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCapNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiCapNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KichHoat)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.IdThuongHieu }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdThuongHieu }) |
                    <a asp-action="Delete" asp-route-id="@item.IdThuongHieu">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
