@model List<AppData.Model.Promotion>
@{
    ViewData["Title"] = "Promotion List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@* Hiển thị thông báo *@
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @Html.Raw(TempData["ErrorMessage"])
    </div>
}
<h1>Danh Sách Promotion</h1>
<p>
    <a asp-action="Create">Tạo Mới</a>
</p>
<p>Số lượng Promotion: @Model.Count</p>
<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Tên Promotion
            </th>
            <th>
                Phần Trăm Giảm
            </th>
            <th>
                Ngày Tạo
            </th>
            <th>
                Ngày Bắt Đầu
            </th>
            <th>
                Ngày Kết Thúc
            </th>
            <th>
                Trạng Thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenPromotion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhanTramGiam)%
                </td>
                <td>
                    @item.NgayTao.ToString("dd/MM/yyyy | HH:mm tt")
                </td>
                <td>
                    @item.NgayBatDau.ToString("dd/MM/yyyy | HH:mm tt")
                </td>
                <td>
                    @item.NgayKetThuc.ToString("dd/MM/yyyy | HH:mm tt")
                </td>
                <td>
                    @{
                        string statusClass = item.TrangThai switch
                        {
                            0 => "text-danger", // Red for Disabled
                            1 => "text-success", // Green for Active
                            2 => "text-warning", // Yellow for Paused
                            3 => "text-secondary", // Grey for Expired
                            _ => "text-muted" // Default for unknown status
                        };
                    }
                    <span class="@statusClass">@item.GetTrangThaiDisplay()</span>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPromotion">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdPromotion" onclick="return confirm('Bạn có chắc chắn muốn xoá Promotion này?');">Delete</a>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>